In [1]:
import pynasdaq as nas;

#### Company list for a given exchange (nyse, nasdaq, amex)

In [4]:
#nasdaq changed their api end point
#nas.companyList(exchange="nasdaq").head()

# Stock

#### Current price of a stock

In [2]:
nas.currentPrice("AMZN")

symbol                                    AMZN
company          Amazon.com, Inc. Common Stock
lastSalePrice                          1837.53
dtype: object

#### Stock summary quote

In [4]:
nas.stockSummaryQuote("IBM")

,Symbol,CurrentPrice,1 Year Target,Today's High / Low,Share Volume,90 Day Avg. Daily Volume,Previous Close,52 Week High / Low,Market Cap,P/E Ratio,Forward P/E (1y),Earnings Per Share (EPS),Annualized Dividend,Ex Dividend Date,Dividend Payment Date,Current Yield,Beta
0,IBM,$151.36,152.5,$ 151.41 / $ 150.10,"2,904,494","3,512,355",$ 150.39,$ 154.36 / $ 105.94,"134,202,265,257",15.64,10.83,$ 9.68,$ 6.48,5/9/2019,6/10/2019,4.32 %,1.05

#### Historical stock prices

In [5]:
#TODO: need to change api
#nas.historicalStockQuote('ibm','5d')

#### Batch quotes

In [3]:
nas.batchQuotes(['AAPL','GOOG',"FB","IBM"])

,symbol,companyName,lastSalePrice,netChange,percentageChange,deltaIndicator,lastTradeTimestamp,volume
0,AAPL,Apple Inc. Common Stock,$218.75,-4.335,1.94%,down,"DATA AS OF Sep 13, 2019","39,755,504"
1,GOOG,Alphabet Inc. Class C Capital Stock,"$1,239.56",+5.31,0.43%,up,"DATA AS OF Sep 13, 2019","1,301,238"
2,FB,"Facebook, Inc. Class A Common Stock",$187.19,-0.28,0.15%,down,"DATA AS OF Sep 13, 2019","11,440,216"
3,IBM,International Business Machines Corporation Co...,$143.67,+0.05,0.03%,up,"DATA AS OF Sep 13, 2019","2,185,777"

# Dividend

#### Dividend calendar for a given date

In [3]:
nas.dividendCalendar(date="2019-09-13").head()

,companyName,symbol,dividend_Ex_Date,payment_Date,record_Date,dividend_Rate,indicated_Annual_Dividend,announcement_Date
0,Alamos Gold Inc.,AGI,09/13/2019,09/30/2019,09/16/2019,0.010,0.040,08/29/2019
1,Allegion plc,ALLE,09/13/2019,09/30/2019,09/16/2019,0.270,1.080,09/05/2019
2,AllianzGI Equity & Convertible Income Fund,NIE,09/13/2019,09/27/2019,09/16/2019,0.380,1.900,09/06/2019
3,"AllianzGI NFJ Dividend, Interest & Premium Str...",NFJ,09/13/2019,09/27/2019,09/16/2019,0.225,1.125,09/06/2019
4,Altria Group,MO,09/13/2019,10/10/2019,09/16/2019,0.840,3.360,08/22/2019

#### List of high yield dividend stocks

In [8]:
nas.highYieldDividendStocks().head(n=10)

,Name,LastSale,annualdividend,dividendyield,exdividenddate,dividendpaymentdate
Symbol,,,,,,
MMLP,Martin Midstream Partners L.P.,5.8500,1.000000,18.4843,05/07/2019,05/15/2019
PTMN,Portman Ridge Finance Corporation,2.3001,0.400000,17.5439,04/04/2019,04/26/2019
TRMT,Tremont Mortgage Trust,4.8400,0.880000,17.0213,07/26/2019,08/15/2019
MDRR,Medalist Diversified REIT Inc.,4.4081,0.700000,15.9453,07/11/2019,07/17/2019
ABDC,Alcentra Capital Corp.,8.3800,0.720000,15.9228,06/27/2019,07/03/2019
OXLC,Oxford Lane Capital Corp.,10.6300,1.620000,15.4286,07/23/2019,07/31/2019
CEY,Victory Portfolios II,24.1399,3.415704,14.1848,07/17/2019,07/19/2019
CMFN,CM Finance Inc,7.3100,1.000000,13.6612,06/13/2019,07/05/2019
GMLP,Golar LNG Partners LP,11.9500,1.616800,13.5071,05/06/2019,05/14/2019
GPP,Green Plains Partners LP,14.3900,1.900000,13.3333,05/02/2019,05/10/2019

#### Dividend history for a company given the symbol

In [6]:
nas.dividendHistory("AAPL").head()

  exOrEffDate  type amount declarationDate  recordDate paymentDate
0  08/09/2019  Cash  $0.77      07/30/2019  08/12/2019  08/15/2019
1  05/10/2019  Cash  $0.77      04/30/2019  05/13/2019  05/16/2019
2  02/08/2019  Cash  $0.73      01/29/2019  02/11/2019  02/14/2019
3  11/08/2018  Cash  $0.73      11/01/2018  11/12/2018  11/15/2018
4  08/10/2018  Cash  $0.73      07/31/2018  08/13/2018  08/16/2018