In [1]:
import pynasdaq as nas;

#### Company list for a given exchange (nyse, nasdaq, amex)

In [2]:
nas.companyList(exchange="nasdaq").head()

,Name,LastSale,MarketCap,IPOyear,Sector,industry
Symbol,,,,,,
YI,"111, Inc.",3.76,$307.04M,2018.0,Health Care,Medical/Nursing Services
PIH,"1347 Property Insurance Holdings, Inc.",5.15,$30.97M,2014.0,Finance,Property-Casualty Insurers
PIHPP,"1347 Property Insurance Holdings, Inc.",25.50,$17.85M,NaN,Finance,Property-Casualty Insurers
TURN,180 Degree Capital Corp.,1.94,$60.38M,NaN,Finance,Finance/Investors Services
FLWS,"1-800 FLOWERS.COM, Inc.",19.38,$1.25B,1999.0,Consumer Services,Other Specialty Stores

# Stock

#### Current price of a stock

In [3]:
nas.currentPrice("AMZN")

  Symbol  CurrentPrice
0   AMZN       1943.05

#### Stock summary quote

In [4]:
nas.stockSummaryQuote("IBM")

,Symbol,CurrentPrice,1 Year Target,Today's High / Low,Share Volume,90 Day Avg. Daily Volume,Previous Close,52 Week High / Low,Market Cap,P/E Ratio,Forward P/E (1y),Earnings Per Share (EPS),Annualized Dividend,Ex Dividend Date,Dividend Payment Date,Current Yield,Beta
0,IBM,$151.36,152.5,$ 151.41 / $ 150.10,"2,904,494","3,512,355",$ 150.39,$ 154.36 / $ 105.94,"134,202,265,257",15.64,10.83,$ 9.68,$ 6.48,5/9/2019,6/10/2019,4.32 %,1.05

#### Historical stock prices

In [5]:
nas.historicalStockQuote('ibm','5d')

         date   close     volume    open    high      low
0  2019/07/26  151.36  2904494.0  151.00  151.41  150.100
1  2019/07/25  150.39  3102113.0  149.82  150.62  148.610
2  2019/07/24  150.03  2952435.0  150.12  151.45  149.195
3  2019/07/23  150.38  3742204.0  150.57  150.72  148.380
4  2019/07/22  149.74  4093239.0  150.16  151.94  149.700

#### Flash quotes

In [6]:
nas.flashQuotes(['AAPL',"BT","FB","IBM"])

  Symbol  Last Sale  Change ChangeDirection  % Change  Share Volume     Market
0   AAPL     207.74    0.72               ▲      0.35    17618874.0  NASDAQ-GS
1     BT      12.13    0.22               ▲      1.85     1010686.0       NYSE
2     FB     199.75    0.96               ▼      0.48    24433985.0  NASDAQ-GS
3    IBM     151.36    0.97               ▲      0.64     2904494.0       NYSE

# Dividend

#### Dividend calendar for a given date

In [7]:
nas.dividendCalendar(date="2019-July-29").head()

,Company (Symbol),Ex-Dividend Date,Dividend,Indicated Annual Dividend,Record Date,Announcement Date,Payment Date
0,"Banco Latinoamericano de Comercio Exterior, S....",07/29/2019,0.385,1.54,07/30/2019,NaN,08/14/2019
1,"ConAgra Brands, Inc. (CAG)",07/29/2019,0.213,0.85,07/30/2019,07/17/2019,08/29/2019
2,CrossAmerica Partners LP (CAPL),07/29/2019,0.525,2.10,07/30/2019,07/18/2019,08/06/2019
3,"CSW Industrials, Inc. (CSWI)",07/29/2019,0.135,0.54,07/30/2019,07/10/2019,08/15/2019
4,H. B. Fuller Company (FUL),07/29/2019,0.160,0.64,07/30/2019,07/16/2019,08/13/2019

#### List of high yield dividend stocks

In [8]:
nas.highYieldDividendStocks().head(n=10)

,Name,LastSale,annualdividend,dividendyield,exdividenddate,dividendpaymentdate
Symbol,,,,,,
MMLP,Martin Midstream Partners L.P.,5.8500,1.000000,18.4843,05/07/2019,05/15/2019
PTMN,Portman Ridge Finance Corporation,2.3001,0.400000,17.5439,04/04/2019,04/26/2019
TRMT,Tremont Mortgage Trust,4.8400,0.880000,17.0213,07/26/2019,08/15/2019
MDRR,Medalist Diversified REIT Inc.,4.4081,0.700000,15.9453,07/11/2019,07/17/2019
ABDC,Alcentra Capital Corp.,8.3800,0.720000,15.9228,06/27/2019,07/03/2019
OXLC,Oxford Lane Capital Corp.,10.6300,1.620000,15.4286,07/23/2019,07/31/2019
CEY,Victory Portfolios II,24.1399,3.415704,14.1848,07/17/2019,07/19/2019
CMFN,CM Finance Inc,7.3100,1.000000,13.6612,06/13/2019,07/05/2019
GMLP,Golar LNG Partners LP,11.9500,1.616800,13.5071,05/06/2019,05/14/2019
GPP,Green Plains Partners LP,14.3900,1.900000,13.3333,05/02/2019,05/10/2019

#### Dividend history for a company given the symbol

In [16]:
nas.dividendHistory("A").head()

IndexError: list index out of range